<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/CSS/women.css" rel="stylesheet">
    <link href="/CSS/header2.css" rel="stylesheet">
    <link href="c:\Users\Shady\Downloads\Web Project MAG\Web Project\assets\css\header2.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flickity@2.2.2/dist/flickity.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="/CSS/details.css">
    <link rel="stylesheet" href="/CSS/footer.css">
     

    <title>Golden Triumph women</title>
</head>
<body>
    
    <%- include('./partials/header.ejs') %>
  
<div class="page">
    <section class="main">
        <h2 >For Lovers.<br>
            <span>Be Love.</span></h2>
           

            
    </section>
    <div class="texty">
        <p>Emphasize the importance of finding the right ring to commemorate the proposal moment.</p>

    </div>
   
    <section class="shady">
        <div class="carousel" data-flickity='{ "autoPlay": true }'>
    
            <div class="carousel-cell">
                <div class="img-rolex">
                    <div class="img-row">
                       <div class="imgg">
            <img src="/IMAGES/Acollection.jpg" alt="ashtrk fe baka"> 
            <div class="texttty">
                <h2>All</h2>
            </div>  
        </div>
        </div>
    </div>
</div>
<div class="carousel-cell">
    <div class="img-rolex">
        <div class="img-row">
           <div class="imgg">
            <img src="/IMAGES/view-luxurious-golden-ring-basket.jpg" alt="">
            <div class="texttty">
                <h2>Rings</h2>
            </div>
        </div>
    </div>
</div>
</div>
    <div class="carousel-cell">
        <div class="img-rolex">
            <div class="img-row">
               <div class="imgg">
            <img src="/IMAGES/top-view-aesthetic-golden-earrings.jpg" alt="">
            <div class="texttty">
                <h2>Earings</h2>
            </div>
        </div>
        </div>
    </div>
</div>
        <div class="carousel-cell">
            <div class="img-rolex">
                <div class="img-row">
                   <div class="imgg">
            <img src="/IMAGES/chain.jpg" alt="">
            
            <div class="texttty">
                <h2>Chain</h2>
            </div>
        </div>
        </div>
    </div>
</div>
       
        <div class="carousel-cell">
            <div class="img-rolex">
                <div class="img-row">
                   <div class="imgg">
                <img src="/IMAGES/HANDD.jpg" alt="">
                <div class="texttty">
                    <h2>Bracelt</h2>
                </div>
               </div>
        </div>
        </div>
    </div>
</div>

   
</section>
<section class="filter">
    <div class="search-barr">
        <form action="/women/search" method="GET"> <!-- Add a form for search -->
            <input type="text" name="query" placeholder="Search.." value="<%= query %>">
            <button type="submit"> <i class="fas fa-search"></i></button>
           
        </form>
    </div>
    <h1>ALL ITEMS:</h1>
    <form class="shadyyy" method="get" id="filter-form">
        <select name="orderby" class="orderby" aria-label="Shop order" id="orderby">
            <option value="popularity" selected="selected">Sort by popularity</option>
            <option value="price">Sort by price: low to high</option>
            <option value="price-desc">Sort by price: high to low</option>
        </select>
        <input type="hidden" name="paged" value="1">
    </form>
</section>

<section class="products">
    <% if(Products.length>0){%>
        <%Products.forEach(Product => {%>
            <% if (Product.category === 'female') { %>
   <div class="product-card" id="pp1">
    <div class="product-image">
        <img src="<%= Product.imageUrl %>" alt="Product Image">
            <div class="heart-icon">
                <input type="checkbox" class="heart-checkbox" id="heart-checkbox-<%= Product._id %>">
                <label for="heart-checkbox-<%= Product._id %>" class="heart">
                    <i class="fa-solid fa-heart"></i>
                </label>
            </div>
        </div>
        <div class="product-info">
            <div class="product-name">
                <%= Product.name %>
            </div>
            <div class="product-price">
                <div class="product-lastprice">
                    <%=Product.price%>$
                </div>
                <div class="product-discount-price">
                    <% if (Product.oldPrice) {%>
                        <%= Product.oldPrice %>$
                    <% } %>
                </div>
                <div class="product-discount">
                    <% if (Product.discount) {%>
                        (<%= Product.discount %>%)
                    <% } %>
                </div>
            </div>
           
            <div class="cardddyyy">
                <form action="/add-to-cart" method="POST">
                <input type="hidden" name="productId" value="<%= Product.id %>">
                <input type="hidden" name="productName" value="<%= Product.name %>">
                <input type="hidden" name="productPrice" value="<%= Product.price %>">
                <button class="cart-button">
                <span class="add-to-cart">Add to cart</span>
                <span class="added">Added</span>
                <i class="fas fa-shopping-cart"></i>
                <i class="fas fa-box"></i>
                </form>
            </div>
        </div>
    </div>
    <%  }%>
    <% }) %>
    <% } %>


    <!-- <div class="product-card" id="pp2">
        <div class="product-image">
            <img src="/IMAGES/ringssss.jpg" alt="Product Image">
          
            <div class="heart-icon">
                <input type="checkbox" class="heart-checkbox" id="heart-checkbox-2">
                <label for="heart-checkbox-2" class="heart"><i class="fa-solid fa-heart"></i></label></div>
        </div>
        <div class="product-info">
            <div class="product-name">
                Sparkling Band Ring Set
            </div>
            <div class="product-price">
                
                <div class="product-lastprice">
                $99.99    
                </div>
                <div class="product-discount-price">
                $199.99
                </div>
                <div class="product-discount">
                (-50%)
                </div>
            
            </div>
            
           
        </div>
    </div>
    <div class="product-card" id="pp3">
        <div class="product-image">
            <img src="/IMAGES/AAAAAA.jpg" alt="Product Image">
            <div class="heart-icon">         
<input type="checkbox" class="heart-checkbox" id="heart-checkbox-3">
<label for="heart-checkbox-3" class="heart"><i class="fa-solid fa-heart"></i></label>
        </div>
        </div>
        <div class="product-info">
            <div class="product-name">
                Love Mom Jewelry Set
            </div>
            <div class="product-price">
                
                <div class="product-lastprice">
                $1699.99  
                </div>
                <div class="product-discount-price">
                    $1899.99  
                </div>
                <div class="product-discount">
                (-10%)
                </div>
            
            </div>
           
           
        </div>
    </div>
    <div class="product-card" id="pp4">
        <div class="product-image">
            <img src="/IMAGES/top-view-golden-chain-dark-rock.jpg" alt="Product Image">
                  
            <div class="heart-icon">
                <input type="checkbox" class="heart-checkbox" id="heart-checkbox-4">
                <label for="heart-checkbox-4" class="heart"><i class="fa-solid fa-heart"></i></label></div>
        </div>
        <div class="product-info">
            <div class="product-name">
                Heart & Mom Necklace 
            </div>
            <div class="product-price">
                
                <div class="product-lastprice">
                $1499.99    
                </div>
                <div class="product-discount-price">
                $1999.99
                </div>
                <div class="product-discount">
                (-25%)
                </div>
            
            </div>
            
           
        </div>
        
    </div>
    <div class="product-card" id="pp5">
        <div class="product-image">
            <img src="/IMAGES/Shady.jpg" alt="Product Image">
                  
            <div class="heart-icon">
                <input type="checkbox" class="heart-checkbox" id="heart-checkbox-5">
                <label for="heart-checkbox-5" class="heart"><i class="fa-solid fa-heart"></i></label></div>
        </div>
        <div class="product-info">
            <div class="product-name">
                CEO Shady
            </div>
            <div class="product-price">
                
                <div class="product-lastprice">
                    
                </div>
                <div class="product-discount-price">
                
                </div>
                <div class="product-discount">
                
                </div>
            
            </div>
             
           
        </div>
        
    </div>
    <div class="product-card" id="pp20">
        <div class="product-image">
            <img src="/IMAGES/seif.jpg" alt="Product Image">
                  
            <div class="heart-icon">
                <input type="checkbox" class="heart-checkbox" id="heart-checkbox-5">
                <label for="heart-checkbox-5" class="heart"><i class="fa-solid fa-heart"></i></label></div>
        </div>
        <div class="product-info">
            <div class="product-name">
            Investor Seif
            </div>
            <div class="product-price">
                
                <div class="product-lastprice">
                    
                </div>
                <div class="product-discount-price">
                
                </div>
                <div class="product-discount">
                
                </div>
            
            </div>
           
           
        </div>
        
    </div>

   
        <div class="product-card" id="pp6">
            <div class="product-image">
                <img src="/IMAGES/abstract-gold-chain--rocks.jpg" alt="Product Image">
                <div class="heart-icon">
                    <input type="checkbox" class="heart-checkbox" id="heart-checkbox-6">
                    <label for="heart-checkbox-6" class="heart"><i class="fa-solid fa-heart"></i></label></div>
            </div>
            <div class="product-info">
                <div class="product-name">
                    October BD Necklace Set
                </div>
                <div class="product-price">
                    
                    <div class="product-lastprice">
                        $199.99
                    </div>
                    <div class="product-discount-price">
                    $399.99 
                    </div>
                    <div class="product-discount">
                    (-50%)
                    </div>
                
                </div>
                
               
            </div>
            
        </div>
        <div class="product-card" id="pp7">
            <div class="product-image">
                <img src="/IMAGES/display-shiny-luxurious-golden-chain.jpg" alt="Product Image">
                      
                <div class="heart-icon">
                    <input type="checkbox" class="heart-checkbox" id="heart-checkbox-7">
                    <label for="heart-checkbox-7" class="heart"><i class="fa-solid fa-heart"></i></label></div>
            </div>
            <div class="product-info">
                <div class="product-name">
                    GT chain & bloom Bracelt
                </div>
                <div class="product-price">
                    
                    <div class="product-lastprice">
                    $2499.99    
                    </div>
                
                </div>
               
               
            </div>
            
        </div>
        <div class="product-card" id="pp8"> 
            <div class="product-image">
                <img src="/IMAGES/rings.jpg" alt="Product Image">
                      
                <div class="heart-icon">
                    <input type="checkbox" class="heart-checkbox" id="heart-checkbox-8">
                    <label for="heart-checkbox-8" class="heart"><i class="fa-solid fa-heart"></i></label></div>
            </div>
            <div class="product-info">
                <div class="product-name">
                    GT Golden rings
                </div>
                <div class="product-price">
                    
                    <div class="product-lastprice">
                       349.99
                    </div>
                    <div class="product-discount-price">
                        $799.99 
                    </div>
                    <div class="product-discount">
                    (-50%)
                    </div>
                
                </div>
               
               
            </div>
            
        </div>

        <div class="product-card" id="pp9">
            <div class="product-image">
                <img src="/IMAGES/woman-accessories-black-top-view.jpg" alt="Product Image">
                      
                <div class="heart-icon">
                    <input type="checkbox" class="heart-checkbox" id="heart-checkbox-9">
                    <label for="heart-checkbox-9" class="heart"><i class="fa-solid fa-heart"></i></label></div>
            </div>
            <div class="product-info">
                <div class="product-name">
                    Barbed Wire Bracelet 
                </div>
                <div class="product-price">
                    
                    <div class="product-lastprice">
                        $599.99   
                    </div>
                    <div class="product-discount-price">
                        $899.99 
                    </div>
                    <div class="product-discount">
                    (-25%)
                    </div>
                
                </div>
                 
               
            </div>
            
        </div>
        <div class="product-card" id="pp10">
            <div class="product-image">
                <img src="/IMAGES/abstract-gold-chain-jewellery-presentation.jpg" alt="Product Image">
                      
                <div class="heart-icon">
                    <input type="checkbox" class="heart-checkbox" id="heart-checkbox-10">
                    <label for="heart-checkbox-10" class="heart"><i class="fa-solid fa-heart"></i></label></div>
            </div>
            <div class="product-info">
                <div class="product-name">
                    Love Jewelry Set
                </div>
                <div class="product-price">
                    
                    <div class="product-lastprice">
                        $1099.99
                    </div>
                    <div class="product-discount-price">
                   
                    $1299.99  
                    </div>
                    <div class="product-discount">
                    (-15%)
                    </div>
                
                </div>
                 
               
            </div>
            
        </div>

</section>


<div class="trending-now">
    <hr>
    <h1>trending now</h1>
   
<section class="products">
<div class="product-card"  id="pp11">
    <div class="product-image">
        <img src="/IMAGES/view-luxurious-golden-ring-with-white-dust.jpg" alt="Product Image">
              
        <div class="heart-icon">
            <input type="checkbox" class="heart-checkbox" id="heart-checkbox-11">
            <label for="heart-checkbox-11" class="heart"><i class="fa-solid fa-heart"></i></label></div>
    </div>
    <div class="product-info">
        <div class="product-name">
            Celestial Sparkling Ring
        </div>
        <div class="product-price">
            
            <div class="product-lastprice">
            $599.99    
            </div>
            <div class="product-discount-price">
            $299.99
            </div>
            <div class="product-discount">
            (-50%)
            </div>
        
        </div>
        <div class="product-tags">
            <span>BEST SELLER</span>
            <span>TOP GIFT</span>
        </div>
       
    </div>
    
</div>

<div class="product-card" id="pp12">
    <div class="product-image">
        <img src="/IMAGES/toolxox.com-enhanced-3ncYDkXqNzLedylVag06BtCJhIMjsf.jpg" alt="Product Image">
              
        <div class="heart-icon">
            <input type="checkbox" class="heart-checkbox" id="heart-checkbox-12">
            <label for="heart-checkbox-12" class="heart"><i class="fa-solid fa-heart"></i></label></div>
    </div>
    <div class="product-info">
        <div class="product-name">
            Pavé Heart Hoop Earrings
        </div>
        <div class="product-price">
            
            <div class="product-lastprice">
            $999.99    
            </div>
            <div class="product-discount-price">
            $1499.99
            </div>
            <div class="product-discount">
            (-35%)
            </div>
        
        </div>
        <div class="product-tags">
            <span>BEST SELLER</span>
            <span>TOP GIFT</span>
        </div>
       
    </div>
    
</div>
<div class="product-card" id="pp13">
    <div class="product-image">
        <img src="/IMAGES/abstract-gold-chain--rocks.jpg" alt="Product Image">
              
        <div class="heart-icon">
            <input type="checkbox" class="heart-checkbox" id="heart-checkbox-13">
            <label for="heart-checkbox-13" class="heart"><i class="fa-solid fa-heart"></i></label></div>
    </div>
    <div class="product-info">
        <div class="product-name">
            October BD Necklace Set
        </div>
        <div class="product-price">
            
            <div class="product-lastprice">
            $199.99    
            </div>
            <div class="product-discount-price">
            $399.99
            </div>
            <div class="product-discount">
            (-50%)
            </div>
        
        </div>
        <div class="product-tags">
            <span>BEST SELLER</span>
            <span>TOP GIFT</span>
        </div>
       
    </div>
    
</div>
<div class="product-card" id="pp14">
    <div class="product-image">
        <img src="/IMAGES/AAAAAA.jpg" alt="Product Image">
              
        <div class="heart-icon">
            <input type="checkbox" class="heart-checkbox" id="heart-checkbox-14">
            <label for="heart-checkbox-14" class="heart"><i class="fa-solid fa-heart"></i></label></div>
    </div>
    <div class="product-info">
        <div class="product-name">
            Love Mom Jewelry Set
        </div>
        <div class="product-price">
            
            <div class="product-lastprice">
            $1699.99    
            </div>
            <div class="product-discount-price">
            $1899.99
            </div>
            <div class="product-discount">
            (-25%)
            </div>
        
        </div>
        <div class="product-tags">
            <span>BEST SELLER</span>
            <span>TOP GIFT</span>
        </div>
       
    </div>
    
</div> -->


</section>
</div>
<section class="section-slider">
    <h1 id="ghjkl">shop the look</h1>
<div class="containerAAAA">
    <div class="slider-wrapper">
      <button id="prev-slide" class="slide-button material-symbols-rounded">
        chevron_left
      </button>
      <ul class="image-list">
          
          <li class="image-item">
              <img src="/IMAGES/model-meghanjack-gallery.jpg" alt="Image 1">
             
            </li>
            <li class="image-item">
              <img src="/IMAGES/necklesss.jpg" alt="Image 2">
             
            </li>
            <li class="image-item">
              <img src="/IMAGES/portrait-woman-wearing-jewelry-makeup.jpg" alt="Image 3">
             
            </li>
            <li class="image-item">
              <img src="/IMAGES/model-sasha-gallery.jpg" alt="Image 3">
             
            </li>
            <!-- Add more image items here -->
          </ul>
      <button id="next-slide" class="slide-button material-symbols-rounded">
        chevron_right
      </button>
    </div>
    <div class="slider-scrollbar">
      <div class="scrollbar-track">
        <div class="scrollbar-thumb"></div>
      </div>
    </div>
  </div>
  </section>
</div>
  <%- include('./partials/footer.ejs') %>
<script src="/js/add-to-cart.js"></script>
<script src="/js/slider-wrapper.js"></script>
<script src="/js/footer.js"></script>
<script src="/js/header2.js"></script>
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js">
	</script>

<script>
        
    document.getElementById('orderby').addEventListener('change', function() {
        document.getElementById('filter-form').submit();
    });
</script>
</body>
</html>